/*전체설정*/
#new_detail dl, #new_detail dt, #new_detail dd, #new_detail form, #new_detail p, #new_detail th, #new_detail td {
    text-indent: -1px;
    line-height: 130%;
    *line-height: 130%;
}

#new_detail {
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 100px;
}

    #new_detail table {
        border-collapse: collapse;
        margin: 0 auto;
        table-layout: fixed;
    }

ul, ol, li {
    list-style-type: none;
}
/*전체설정끝*/

/*타이틀 시작*/
.tit_box {
    max-width: 1000px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 11px;
}

    .tit_box span {
        font-size: 12px;
        font-weight: 700;
        color: #000000;
    }

    .tit_box p {
        margin: 0;
        padding: 0;
    }
/*타이틀 끝*/

/*상품설명 시작*/



.pro_info_1101 {
    max-width: 1000px;
    border: 1px solid #bdbdbd;
}

    .pro_info_1101 td {
        padding: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
        color: #000000;
        font-size: 12px;
    }



#pro_ex {
    text-align: center;
    vertical-align: center;
}

#pro_pi {
    text-align: left;
    vertical-align: top;
}

    #pro_pi img {
        max-width: 100%;
        margin-bottom: 5%;
        margin-left: 2%;
    }

    #pro_pi span {
        font-weight: 700;
        margin: 1%;
    }
/*상품설명 끝*/


/*착용감*/
.fit {
    text-align: center;
    border: 1px solid #bdbdbd;
    font-size: 11px;
}

    .fit th {
        border: 1px solid #bdbdbd;
        background-color: #e9e9e9;
        padding: 3px;
    }

    .fit td {
        color: #000000;
        font-size: 11px;
    }

.line_1101 {
    border-bottom: 1px solid #bdbdbd;
    border-right: 1px solid #bdbdbd;
    text-align: left;
    padding-left: 5px;
}

.noline_1101 {
    border-bottom: 1px solid #bdbdbd;
    border-right: 0;
    text-align: right;
    padding-right: 5px;
}

.fit th span {
    font-weight: 700;
    font-size: 11px;
}

.fit th span {
    font-weight: 700;
    font-size: 11px;
}

.fit .noline span {
    font-size: 12px;
}
/*착용감 끝*/

/*사이즈표*/
.ch03 {
    max-width: 1000px;
    border: 1px solid #bdbdbd;
    margin: 0 auto;
    text-align: center;
    font-size: 11px;
}


    .ch03 span {
        font-weight: 700;
        font-size: 11px;
    }

    .ch03 td {
        padding: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

.ch03_size {
    max-width: 100%;
    text-align: center;
    border-collapse: collapse;
    font-size: 11px;
}

    .ch03_size thead td {
        border: 1px solid #3c3c3c;
        padding: 5px;
        background-color: #e9e9e9;
        color: #000000;
    }

    .ch03_size tbody td {
        border: 1px solid #3c3c3c;
        padding: 5px;
        color: #000000;
    }


.ch03 img {
    max-width: 100%;
    height: auto;
    padding: 3px;
}

#wash {
    max-width: 100%;
    text-align: center;
}
#cmcm {
    max-width: 100%;
    text-align: right;
    font-size: 11px;
    font-weight: 700;
}
      

/*사이즈표끝*/

/*기준표*/
.stan {
    max-width:1000px;
    text-align: center;
    border-collapse: collapse;
    font-size: 12px;
}

    .stan span {
        font-weight: 700;
        font-size: 12px;
    }

.stan_hd td {
    border: 1px solid #bdbdbd;
    background-color: #e9e9e9;
    padding: 3px;
    color: #000000;
}


.stan_bd td {
    border: 1px solid #bdbdbd;
    padding: 3px;
    color: #000000;
}
.stan_tf td {
    max-width: 100%;
}
/*기준표 끝*/

/*모델피팅 시작*/
.model {
    text-align: center;
    overflow: hidden;
}

    .model img {
        max-width: 100%;
        padding: 0;
        margin: 0;
    }
/*모델피팅 끝*/

