/* BASIC css start */
#ftWrap { padding:80px 0 0; }
#footer {width:100%;}
#footer .section { width:100%; margin:0 auto; border-top:1px solid #e9e9e9; border-bottom:1px solid #e9e9e9; height:48px; }
#footer .section ul {width:1240px; margin:0 auto;}
#footer .section ul li {float:left;}
#footer .section ul li a {font-size:11px; color:#777; display:block; height:48px;line-height:48px;margin:0px 20px;font-family:'Roboto','Nanum Gothic',sans-serif;}
#footer .section ul li a.black {color:#333;}
#footer .section ul li a:hover {color:#000;}
#footer .section1 {width:1240px; margin:50px auto;}
#footer .section1 .ft_info01 {float:left; min-height:220px; border-right:1px solid #e9e9e9; padding-right:38px; margin-right:38px;}
#footer .section1 .ft_info01 .ft_logo {text-align:left; margin-bottom:22px; min-height:43px;}
#footer .section1 .ft_info01 .ft_copy {font-size:12px; color:#999; text-align:left; line-height:19px;}
#footer .section1 .ft_info02 {float:left; min-width:220px; min-height:129px; }
#footer .section1 .ft_info02 .ft_copy {font-size:11px; color:#999; text-align:left; line-height:19px; padding-top:10px;}
#footer .section1 .ft_info02 .ft_title {font-size:12px; text-align:left; line-height:12px;color:#111;font-family:'Roboto','Nanum Gothic',sans-serif;}
#footer .section1 .ft_info02 .ft_num {font-size:15px; text-align:left; line-height:15px; padding-top:15px;color:#111;font-family:'Roboto','Nanum Gothic',sans-serif;}
#footer .section1 .ft_info02 .area01 {min-height:154px; border-bottom:1px solid #e9e9e9;}
#footer .section1 .ft_info02 .ft_title02 {font-size:12px; text-align:left; line-height:12px;  padding-top:17px;color:#111;font-family:'Roboto','Nanum Gothic',sans-serif; }
#footer .section1 .ft_info02 .ft_copy2 {font-size:12px; color:#777; text-align:left; line-height:19px; padding-top:10px; letter-spacing:-0.5px;}
#footer .section1 .ft_info02 .ft_comm {float:left; margin-top:14px;}
#footer .section1 .ft_info02 .ft_comm a {display:block; width:174px; height:28px; text-align:left; border:1px solid #dedede; font-size:11px; line-height:28px; color:#777; text-indent:10px; margin-bottom:5px; -webkit-transition: .3s ease-in-out; transition: .3s ease-in-out;}
#footer .section1 .ft_info02 .ft_comm a:hover {border:1px solid #191e21; background-color:#191e21; color:#fff; -webkit-transform: translateY(-10%); transform: translateY(-10%);  transform:scale(1.05); -webkit-transition: .3s ease-in-out; transition: .3s ease-in-out;}
#footer .section1 .ft_info02 .ft_sns a {float:left; padding-left:7px;}
#footer .section1 .ft_info02 .ft_sns a:first-child {padding-left:0px;}
#footer .mrl48 {margin-left:48px;}
#footer .mrl48 .area01 {border:0 !important;}

#footer .section2 {width:100%;background-color:#191e21; height:65px; line-height:65px; color:#999;text-align:left;font-size:11px;}
#footer .section2 .inner {width:1240px;margin:0 auto;}



#footer .ft_info02 .bt_bank {float:left; clear:both; width:150px; margin-top:10px; height:26px;  font-size:0px; position:relative; }
#footer .ft_info02 .bt_bank_list {font-size:11px; height:24px; border:1px solid #dedede; width:125px; border-right:0px; text-align:left; line-height:24px; float:left; text-indent:10px; cursor:pointer; color:#777;}
#footer .ft_info02 .bt_bank_btn {float:left; cursor:pointer;}
#footer #banking_menu {position:absolute; z-index:5555; display:none; width:148px; height:auto; border:1px solid #dedede; border-bottom:0px; background-color:#fff; bottom:25px; left:0px;  text-align:left; text-indent:10px;}
#footer #banking_menu ul li a {font-size:12px; color:#999; width:148px; height:30px; background-color:#fff;  line-height:30px; border-bottom:1px solid #dedede; display:block; text-decoration:none; }
#footer #banking_menu ul li a:hover {color:#000; background-color:#fafafa; -moz-transition: all 0.3s linear; -webkit-transition: all 0.3s linear; -o-transition: all 0.3s linear; -ms-transition: all 0.3s linear; transition: all 0.3s linear;}

/* BASIC css end */

