@CHARSET "UTF-8";

.tit-join h3{
	font-family: "crn-md", "NanumBarunGothicBold", Dotum, sans-serif;
	font-size: 15px;
	margin-bottom: 10px;
	padding-bottom: 3px;
	display: inline-block; 
	border-bottom: 4px solid #3a4452; !important
}
.tit-join{
	background-color:#3a4452;
}
body{
	font-family: Nanum Gothic,dotum,Arial,sans-serif;
	font-size: 12px;
    line-height: 1.25;
}
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, img {
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
asd{
	border-bottom: 4px solid #3a4452;
}
table {
    border: 0;
    border-top-color: initial;
    border-top-style: initial;
    border-top-width: 0px;
    border-right-color: initial;
    border-right-style: initial;
    border-right-width: 0px;
    border-bottom-color: initial;
    border-bottom-style: initial;
    border-bottom-width: 0px;
    border-left-color: initial;
    border-left-style: initial;
    border-left-width: 0px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-spacing: 0;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    border-collapse: collapse;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    table-layout: fixed;
    word-wrap: break-word;
    word-break: keep-all;
}
.table-d2-list {
    margin-top: 30px;
}

.table-d2-list{
    border-top: 2px solid #cdcdcd;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: rgb(205, 205, 205);
    border-bottom: 1px solid #cdcdcd;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(205, 205, 205);
}
thead th {
    padding: 6px 0;
    padding-top: 6px;
    padding-right: 0px;
    padding-bottom: 6px;
    padding-left: 0px;
    background-color: #ededed;
    border-bottom: 2px solid #cdcdcd;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(205, 205, 205);
}
th, td {
    border: 0;
    border-top-color: initial;
    border-top-style: initial;
    border-top-width: 0px;
    border-right-color: initial;
    border-right-style: initial;
    border-right-width: 0px;
    border-bottom-color: initial;
    border-bottom-style: initial;
    border-bottom-width: 0px;
    border-left-color: initial;
    border-left-style: initial;
    border-left-width: 0px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}
th {
    font-weight: bold;
    text-align: -internal-center;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
.table-d2-list .ipt {
    color: #126fb5;
    background-color: #dde6ed;
}
.board-btn a.black {
    border-color: #1d1d1d;
    background: #1d1d1d;
    color: #fff;
    font-weight: 500;
}
