@CHARSET "UTF-8";


.tit-join h3{
	font-family: "crn-md", "NanumBarunGothicBold", Dotum, sans-serif;
	font-size: 15px;
	margin-bottom: 10px;
	padding-bottom: 3px;
	display: inline-block; 
	border-bottom: 4px solid #3a4452; !important
	
}
.person-tb {
	font-size: 12px;
	color: #777;
    width: 100%;
    border: 1px solid #dcdcdc;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    table-layout: fixed;
    word-wrap: break-word;
    word-break: keep-all;
}

.pl-6{
	
	padding-left: 12px;
}
.subject
{text-align: center !important;}
td, th {
	text-align: center;
	margin-left: 5px;
	border-bottom: 1px solid #dcdcdc;
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
	margin-top: 5px;
	margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: table-cell;
    vertical-align: inherit;
}
.center_text{
	text-align: center ; !important
}

.btn-close{
	display:inline-block;
    width: 50.98px;
    height: 30px;
   /*  line-height: 29px; */
    margin: 0 auto;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
 	background-color: #808080;
    border: 1px solid #808080;
}

.modal .modal-content .modal-head {
	position: relative;
	background-color: #2D2D2D; !important;
	border-radius: 5px 5px 0 0;
	padding: 2px 15px 0 15px
}
