/* BASIC css start */
#order .stit { margin-top: 30px; font-size: 0; line-height: 0; }
#order .mem-lvl { margin-top: 45px; }
#order .table-order-info li { padding: 3px 0; }
#order .table-order-info dl dt { font-weight: bold; }
#order .table-order-info dl dd { margin-top: 5px; }
#order .cnt-box { zoom: 1; overflow: hidden; margin-top: 10px; padding: 10px; border-top: 1px solid #b7b7b7; border-bottom: 1px solid #b7b7b7; }
#order .cnt-box img { vertical-align: middle; }
#order .btn-foot { margin-top: 40px; text-align: center; font-size: 0; line-height: 0; }
#order .btn-foot a { margin-left: 10px; }
#order .admin-msg { margin: 20px 0px; text-align: center; }
#order .bank_name { color: #0054a6 }
/* BASIC css end */

